.collection{
    padding-top: 100px;
}
.collection1{
    padding-top: 50px;
    }
.collection1 img{
    width: 100%;
    height: 200px;
}
.caprese{
    padding-left: 50px;
}
.caprese img{
    width: 200px;
    height: 200px;
}
.lavie img{
    width: 250px;
    height: 200px;
    padding-left: 100px;
}
.handbag img{
    width: 250px;
    height: 200px;
}
.handbag{
    padding left: 50px ;
}
.zipper{
    padding-left: 50px;
}
.zipper img{
    width: 250px;
    height: 200px;
}